* {
    box-sizing: border-box;
}

#homepage {
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    color: black;
    text-shadow: 0 0 1px;
}

.recipe-list {
    margin-top: 80px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.recipe-list li {
    font-size: large;
    width: 200px;
    height: 200px;
    margin: 20px;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0px 0px 4px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 0 0 4px #000;
}

.recipe-list li, a {
    background-color: rgb(176, 115, 184);
}